body{background-image: url('../images/courseimg2.png');}
.bigbg{width: 100%;height:765px; background-image: url('../images/courseimg1.png');background-repeat:no-repeat; background-size:100% 765px;}
.coursenav{width: 100%;height: 70px;}
.coursenava{width: 400px;height:70px;text-align: left;line-height: 70px;font-size: 18px;color: #0f6dec;float: left;margin-left: 25px;font-weight: bold;}
.coursenavb{width: 400px;height:70px;text-align: right;line-height: 70px;font-size: 18px;color: #0f6dec;float: right;margin-right: 25px;font-weight: bold;}


.coursenlist{width: 100%;}
.coursenlistnav{width: 98%;height: 80px;margin:0px 1%;}
.progress-list{width: 100%;height: 40px;line-height: 40px;font-size: 12px;position: relative;}
.progress-list img{position: absolute;top:-50px;left: 40px}
.progress-list span{ color: #fff;display: block;width: 64.5px;float: left}

.coursenlistsee{width: 98%;height:500px;margin:0px 1%;position: relative;}
/*进度条*/
.progress-bar{
    margin-top: 25px;
    /* 进度条的槽 */
    width:100%;
    /* 设置进度条的高度 */
    height: 10px;
    /*进度条外层div的背景色，进度未达到的地方的颜色 */
    background-color: #fff;
    border-radius: 10px;
}
.progress{
    /* 进度部分 */
    /* 利用继承父元素宽度的百分比控制进度 */
    width: 10%;
    height: 100%;
    /* 内层背景色即进度达到的颜色 */
    /*background-color: #2e7af5;*/
    border-radius: 10px;
    background:linear-gradient(-90deg,#e2f50c,#84eafe)
}