body{background-image: url('../images/banner.jpg');background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;}
.bigbox{width: 100%;margin-bottom: 20px}
.welfare{width:96%;height:100px; margin:15px 2% 25px 2%;}
.centernav{height: 110px;width:92%;margin:10px 4%;}
.centernav div{height: 110px;width:70px;float: left;margin-right: 25px}
.centernav div a img{height: 70px;width:70px;border-radius: 50%}
.centernav div a p{width:100%;text-align: center;color: #333}
.centernav div a p:hover{color: red} 
.centernav div:nth-child(1) a p{color: blue} 
.cashrecords{width:92%;margin:0px 2%;background-color: #fff;padding:10px 2%;margin-bottom:50px;height: 750px}
.cashrecords .cashrecordsfont{font-size: 18px;color: #40434a;font-weight: 800;margin-bottom: 20px}
.cashrecordstime{width:370px;height:32px;float:right;margin-top: -50px}
.cashrecordstime input{display: none}
.cashrecordstime a{width:120px;height:32px;text-align: center;color: #57a8fe;background-color: #fff;border: 1px solid #57a8fe;display: block;float: left;line-height: 32px;}
.cashrecordstime .timetype{width:120px;height:32px;text-align: center;background-color: #57a8fe;color: #fff;}
.cashrecordslist{width: 100%;height: 135px}
.cashrecordslist .cashrecordslisttime{float: left;width: 20%;height: 100%;}
.cashrecordslist .cashrecordslisttime img{width:15px;height: 100%;float: right;}
.cashrecordslist .cashrecordslisttime div{width:100px;height: 20px;text-align: right;color: #40434a;font-weight: bold;float: right;}
.cashrecordslist .cashrecordslisttime div span{font-weight:normal }
.cashrecordslistall{width: 80%;height: 100%;text-align: center;float: left;}
.cashrecordslistall table{width:100%}
.cashrecordslistall table tr td{width: 20%;height: 50px}
.cashrecordslistall table tr:nth-child(1){background-color:#f6fbff}
.cashrecordslistall table tr:nth-child(2){background-color:#e6f2ff}
/*分页*/
.cashrecordslistpage{width:100%;height: 30px;float: right;text-align: right;}
.cashrecordslistpage div{float: right;margin-right:10px }
.cashrecordslistpage div select{width: 60px}
.cashrecordslistpage div {color: #282828;font-weight: bold;margin-left: 10px}
.cashrecordslistpage div b{color: #282828;font-weight: bold;margin-left: 10px;font-size: 16px}
.cashrecordslistpage_all {margin-left: 20px}
.cashrecordslistpage_all div .first{color: #9fa5a9;float: left;width: 25px;height: 25px;display: block;text-align: center;line-height: 25px;}
.cashrecordslistpage_all div .end{color: #9fa5a9;float: left;;width: 25px;height: 25px;display: block;text-align: center;line-height: 25px;}
.cashrecordslistpage_all div .prev{color: #9fa5a9;float: left;width: 25px;height: 25px;display: block;text-align: center;line-height: 25px;}
.cashrecordslistpage_all div .next{color: #9fa5a9;;float: left;width: 25px;height: 25px;display: block;text-align: center;line-height: 25px;}
.cashrecordslistpage_all div .num{color: #282828;font-weight: bold;float: left;;width: 25px;height: 25px;display: block;text-align: center;line-height: 25px;}
.cashrecordslistpage_all div .current{color: #fff;background-color: #004d8e;border-radius: 50%;float: left;;width: 25px;height: 25px;display: block;text-align: center;line-height: 25px;}
.cashrecordslistpage_all div .rows{color: #282828;font-weight: bold;margin-left: 10px}