.clear{clear: both;}
.minnav{background-image: url('../images/indexlogo.png');background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;}
.bigboxhead{padding: 0px;width: 100%;}
.bigboxfool{padding: 0px;width: 100%;}
.bigboxhead img{width: 100%;padding: 0px;border: 0px;margin: 0px;display:block;}
.bigboxfool img{width: 100%;padding: 0px;border: 0px;margin: 0px;display:block;}

.bigboxmin{width: 100%;height: 500px;position: relative;}
.banner{width: 100%;height: 400px;margin: 0px;overflow: hidden;position: relative;}
.banner-1 ul{}
.banner-1 ul li{width: 100%;height: 400px;position: relative;overflow: hidden;}
.banner-1 ul li img{display:block;width: 90%; height: 400px;margin:auto}
.banner-1 ul li h2{position: absolute;left: 0;bottom: 0;height: 40px;width:300px;background: rgba(125,125,120,.4);text-indent: 2em;
				padding-right:500px ;font-size: 15px;line-height: 40px;text-overflow: ellipsis;overflow: hidden;
				white-space: nowrap;font-weight: normal;color: ghostwhite}
.banner-2{position: absolute;right:48%;bottom: 14px;}
.banner-2 ul li{float:left;width: 12px;height: 12px;overflow: hidden; margin: 0 5px; border-radius: 50%;
				background: rgba(0,0,0,0.5);text-indent: 100px;cursor: pointer;}
.banner-2 ul .on{background: rgba(255,255,255,0.6);}
.banner-3 span{position: absolute;color: #fe575d;width: 50px;height: 80px;
				top:50%; font-family: "宋体";line-height: 80px;font-size:60px;margin-top: -40px;
				text-align: center;cursor: pointer;font-weight: bold;}
.banner-3 .prev{left: 0px;}
.banner-3 .next{right: 0px;}
/*.banner-3 span::selection{background: transparent;}*/
/*.banner-3 span:hover{background: rgba(125,125,120,.8);}*/



